body {
  margin: 0;
  padding: 10px 0;
}

#container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr repeat(2, 3fr);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid green;
  background-color: green;
  gap: 1px;
}

[id="container"] > div {
  background-color: white;
}

#header {
  font-size: 12px;
  padding: 0 10px;
  background-color: rgb(217, 241, 217);
  color: darkslateblue;
}

#selection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
}

#charts {
  grid-column-start: 2;
  grid-column-end: -1;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-left: 10px;
}

#info p {
  font-size: 20px;
  margin: 0;
}

#info p span {
  font-weight: 900;
  color: teal;
}

#social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#social h2 {
  color: rgb(43, 43, 126);
  margin: 0;
}

#social p {
  color: rgb(57, 179, 255);

  font-weight: 900;

  margin: 0;
}

#charts div {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

#charts div p {
  margin: 10px 0;
}

#charts svg {
  flex-grow: 1;
}

.jump {
  transition: all 1s ease;
  animation: jumpOut 1s forwards;
}

@keyframes jumpOut {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
}
