body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  width: 60%;
  text-align: center;
}

#container svg {
  width: 100%;
  height: 500px;
}

h1,
p {
  margin: 0;
}

#legend {
  display: flex;
  justify-content: space-evenly;
}

#legend div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#legend span {
  display: inline-block;
  height: 70%;
  width: 30px;
  border-radius: 5px;
}

svg {
  background-color: lightgray;
}
