body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  font-family: "Roboto Mono", monospace;
}

header {
  padding: 0.5rem 0;
  padding-left: 2rem;
  background-color: darkcyan;
  color: navy;
  text-shadow: 0 0 10px white;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
}

header h1 {
  margin: 0;
  margin-bottom: -5px;
}

header p {
  margin: 0;
  text-indent: 2em;
}

main {
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
}

#legend {
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#legend span {
  border-radius: 4px;
  border: 2px solid black;
  padding: 5px 20px;
}

#charts {
  display: flex;
  flex-wrap: wrap;
  color: navy;
}

.chart {
  text-align: center;
}

.chart h2 {
  margin-bottom: -10px;
}

.chart svg {
  width: 100%;
  height: 425px;
}

#LH,
#AA {
  flex-basis: 50%;
}

#LtH,
#RS,
#CP {
  flex-basis: 33.33%;
}

footer {
  background-color: skyblue;
  text-align: center;
  padding: 0.25rem;
  font-weight: bold;
}

/* svg {
  border: 1px solid black;
  border-top: unset;
} */
